<div class="container mt-5">
  <p> <%= link_to 'Voltar', @partner_company, class: 'my-5' %> </p>
  <% @clients.each do |client| %>
    <p><%= client.description %></p>
  <% end %>

  <h3><%= 'Nenhum cliente com desconto' if @clients.blank? %></h3>
</div>
