<div class="container mt-5" >
  <h1 class="my-3 text-center" > Cadastro de nova empresa parceira </h1>
  <p> <%= link_to 'Voltar', @partner_company, class: 'my-5' %> </p>

  <%= render partial: 'form', locals: { partner_company: @partner_company } %>
</div>
