<div>
  <ul>
    <li> <%= @partner_company.name %> </li>
    <li> <%= @partner_company.cnpj %> </li>
    <li> <%= @partner_company.address %> </li>
    <li> <%= @partner_company.email %> </li>
  </ul>
</div>
