<%= "#{@promotion.name} - #{@promotion.token}"%><br/>
<div>
  <% @coupons.each do |coupon| %>
  <b><%= coupon.token %> <%=link_to 'Descartar', discard_promotion_coupon_path(@promotion, coupon), method: :post%></b><br/>
  <% end %>
  <%= link_to 'Voltar', promotion_path(@promotion)%>
</div>
