<h3> Remove CPF em lote </h3>

  <%= form_with url: remove_cpfs_partner_company_partner_company_employee_path(params[:partner_company_id]),
                local: true do |form| %>
    <%= form.label :file_content, 'Selecione o arquivo' %>
    <%= form.file_field :file_content %>

    <%= form.submit 'Remover' %>
<% end %> 